In [18]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

%matplotlib inline

In [49]:
data = pd.read_csv('C:/Users/taham/Desktop/7th semester/AI by Sir Ayyaz/Assignments/train.csv')

In [50]:
data.head(2)

   PassengerId  Survived  Pclass     Fare   Age  SibSp  Parch
0            1         0       3   7.2500  22.0      1      0
1            2         1       1  71.2833  38.0      1      0

In [52]:
x = (data[['PassengerId','Survived','Pclass','Fare','Age','SibSp','Parch']])

In [53]:
x[0:5]

   PassengerId  Survived  Pclass     Fare   Age  SibSp  Parch
0            1         0       3   7.2500  22.0      1      0
1            2         1       1  71.2833  38.0      1      0
2            3         1       3   7.9250  26.0      0      0
3            4         1       1  53.1000  35.0      1      0
4            5         0       3   8.0500  35.0      0      0

In [87]:
Y = np.array(data[['SibSp']])

In [88]:
Y[0:1]

array([[1]], dtype=int64)

In [89]:
cols = ['PassengerId','Survived','Pclass','Fare','Age','SibSp','Parch']
x_new = x[cols]
x_new.head(2)

   PassengerId  Survived  Pclass     Fare   Age  SibSp  Parch
0            1         0       3   7.2500  22.0      1      0
1            2         1       1  71.2833  38.0      1      0

In [64]:
x_new = x_new[cols].apply( lambda rec:(rec - rec.mean())/rec.std(), axis =0)

In [65]:
type(x_new)

pandas.core.frame.DataFrame

In [67]:
x_new.head(10)
list(x_new)

['PassengerId', 'Survived', 'Pclass', 'Fare', 'Age', 'SibSp', 'Parch']

In [68]:
x_new = np.array(x_new)
x_new[0:3]

array([[-1.7291368 , -0.7888293 ,  0.82691282, -0.50216314, -0.5300051 ,
         0.43255043, -0.47340772],
       [-1.7252511 ,  1.26627861, -1.56522783,  0.78640362,  0.57143041,
         0.43255043, -0.47340772],
       [-1.7213654 ,  1.26627861,  0.82691282, -0.48857985, -0.25464622,
        -0.47427882, -0.47340772]])

In [ ]:
# randomly initializing the beta cooficient

In [77]:
import random

In [75]:
def initialize_betas(dim):
    b = random.random()
    w = np.random.rand(dim)
    return b,w

In [76]:
b,w = initialize_betas(x_new.shape[1])
print(b,w)

0.10459374933971988 [0.55537148 0.56143975 0.47249555 0.1107057  0.69976457 0.23142362
 0.99869195]

In [ ]:
# Define a sigmoid func to predict Y

In [78]:
def sigmoid(b,w,x_new):
    z = b+np.matmul(x_new,w)
    return (1.0 / (1+ np.exp(-z)))

In [90]:
y_not = sigmoid(b,w,x_new)
y_not[0:4]

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

In [91]:
Y[0:4]

array([[1],
       [1],
       [0],
       [1]], dtype=int64)

In [92]:
def cost(Y, y_not):
    return - np.sum(np.dot(y.T,np.log(1-y_hat)+ np.dot((1-y).T,np.log(1-y_hat)))) / ( len(y))

In [96]:
# Reshape Y
Y=Y.reshape(len(Y), )
current_cost= cost(Y,y_not)
#print(current_cost)
Y.shape

NameError: name 'y_hat' is not defined