In [6]:
#Load required libraries
import pandas as pd
import numpy as np
import os
import math

In [2]:
pwd

'C:\\Users\\taham\\Desktop\\7th semester\\AI by Sir Ayyaz\\Assignments'

In [16]:
#load SAHeart csv fi
data = pd.read_csv('C:/Users/taham/Desktop/7th semester/AI by Sir Ayyaz/Assignments/train.csv')

data.head(2)

,PassengerId,Survived,Pclass,Unnamed: 3,Sex,Age,SibSp,Parch,Unnamed: 8,Fare
0,1,0,3,NaN,male,22.0,1,0,NaN,7.2500
1,2,1,1,NaN,female,38.0,1,0,NaN,71.2833

In [15]:
data['Name']= pd.get_dummies(data['Name'])

ValueError: Columns must be same length as key